<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type">
    <title>出错啦</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/community.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
    <script src="/js/npm.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="jumbotron">
    <div class="container">
        <h1>出错啦！！！</h1>
        <p th:text="${message}"></p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">返回主页</a></p>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>